@import "tailwindcss";
:root {
  --bg1: #F7F9FB;
  --textcolor1: #00355F;
  --textcolor2: #006398;
  --linkcolor: #42474F;
  --bgsection: #F2F4F6;
  --headingcolor: #191C1E;
  --bordercolor: #C2C7D1;
  --starcolor: #F59E0B;
  --bgIcon: #ECEEF0;
  --placeholdercolor: #9CA3AF;
}
ul{
  list-style: none;
}
.container{
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*Start Header Style*/
header .container ul li a{
  transition: color 0.5s ease;
}
header .container ul li:hover a{
  color: var(--textcolor1);
}
header .container ul li a.active{
  color: var(--textcolor1);
}
@media (max-width: 1100px){
  header .container .col-user{
    display: none;
  }
}
@media (min-width: 992px){
  header .container .col-bars,
  header .container .doctor-img{
    display: none;
  }
}
@media (max-width: 992px){
  header{
    height: 64px;
  }
  header .container ul,
  header .container .order-now{
    display: none;
  }
}
.menu-mobile{
  transition: left 0.5s ease;
  overflow: hidden;
}
.menu-mobile.show{
  left: 0;
}
/*End Header Style*/
/*Menu-Mobile-Bottom Style*/
@media (min-width: 992px){
  .menu-mobile-bottom{
    display: none;
  }
}
/*Services-Section Style*/
@media (max-width: 1100px){
    .services-section .container .all-services{
    width: 100%;
    flex-wrap: wrap;
  }
  .services-section .container .all-services .col-service{
    width: 48%;
  }
}
@media (max-width: 768px){
  .services-section .container .all-services .col-service{
    width: 100%;
  }
}
.whyus-section .container .whyus-content .col,
.services-section .container .all-services .col-service,
.overview-clients .container .all-clients-overview .col-client,
.our-values .container .our-values-content .col-our-value{
  transition: transform 0.5s ease;
}
.services-section .container .all-services .col-service:hover,
.whyus-section .container .whyus-content .col:hover,
.overview-clients .container .all-clients-overview .col-client:hover,
.our-values .container .our-values-content .col-our-value:hover{
  transform: translateY(-15px);
}
@media (max-width: 768px){
  .services-section .container .all-services .col-service:hover,
  .whyus-section .container .whyus-content .col:hover,
  .overview-clients .container .all-clients-overview .col-client:hover,
  .our-values .container .our-values-content .col-our-value:hover{
    transform: translateY(-8px);
  }
}
/*Overview-clients-Style*/
@media (max-width: 992px){
  .overview-clients .container .all-clients-overview{
    flex-wrap: wrap;
    justify-content: center;
  }
  .overview-clients .container .all-clients-overview .col-client{
    width: 48%;
  }
}
@media (max-width: 768px){
  .overview-clients .container .all-clients-overview .col-client{
    width: 100%;
  }
}
/*Questions-Style*/
.questions-commons .container .all-common-questions .answer-question{
  display: none;
  transition: display 0.5s ease;
}
.questions-commons .container .all-common-questions .answer-question.active{
  display: block;
}
/*Our-Values Style*/
@media (max-width: 992px){
  .our-values .container .our-values-content{
    flex-wrap: wrap;
  }
}
/*Our-Teams Style*/
@media (max-width: 992px){
  .our-teams .container .all-our-teams{
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*Start Contact us Page Style*/
@media (max-width: 520px){
  .contact-us-heading img{
    height: 220px;
  }
}

@media (max-width: 1050px){
  .contactus-connect .container{
    flex-wrap: wrap;
    justify-content: center;
  }
  .contactus-connect .container .col-phone,
  .contactus-connect .container .col-email,
  .contactus-connect .container .col-location{
    width: 48%;
  }
}
@media (max-width: 580px){
  .contactus-connect .container .col-phone,
  .contactus-connect .container .col-email,
  .contactus-connect .container .col-location{
    width: 100%;
  }
}

/*form contact style*/
@media (max-width: 992px){
  .form-contact .container .send-message-form,
  .form-contact .container .work-hours-col{
    width: 100%;
    border-radius: 12px;
    padding: 20px;
  }
  .form-contact .container .work-hours-col{
    gap: 40px;
  }
}
@media (max-width: 768px){
  .form-contact .container{
    flex-direction: column;
  }
  .form-contact .container .send-message-form h1,
  .form-contact .container .work-hours-col h2{
    font-size: 20px;
  }
  .form-contact .container .send-message-form p{
    font-size: 14px;
    text-align: end;
  }
  .form-contact .container .send-message-form form .col-name-phone{
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 100%;
  }
  .form-contact .container .send-message-form form .col-name-phone input{
    min-width: 100% !important;
  }
  .form-contact .container .send-message-form form .col-name-phone .col-name,
  .form-contact .container .send-message-form form .col-name-phone .col-phone{
    min-width: 100% !important;
  }
}

/*form-order-page*/
.form-ordernow .col-services option,
.form-ordernow .options-time span{
  transition: background-color 0.5s ease, color 0.5s ease;
}
.form-ordernow .col-services option.active,
.form-ordernow .options-time span.active{
  background-color: var(--textcolor1);
  color: white;
}

.form-ordernow .options-time span svg{
  transition: color 0.5s ease;
}
.form-ordernow .options-time span.active svg{
  color: white;
}