@import "tailwindcss";
:root {
  --bg1: #F7F9FB;
  --textcolor1: #00355F;
  --textcolor2: #006398;
  --linkcolor: #42474F;
  --bgsection: #F2F4F6;
  --headingcolor: #191C1E;
  --bordercolor: #C2C7D1;
  --starcolor: #F59E0B;
  --bgIcon: #ECEEF0;
}
ul{
  list-style: none;
}
.container{
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*Start Header Style*/
header .container ul li a{
  transition: color 0.5s ease;
}
header .container ul li:hover a{
  color: var(--textcolor1);
}
header .container ul li a.active{
  color: var(--textcolor1);
}
@media (max-width: 1100px){
  header .container .col-user{
    display: none;
  }
}
@media (min-width: 992px){
  header .container .col-bars,
  header .container .doctor-img{
    display: none;
  }
}
@media (max-width: 992px){
  header{
    height: 64px;
  }
  header .container ul,
  header .container .order-now{
    display: none;
  }
}
.menu-mobile{
  transition: left 0.5s ease;
  overflow: hidden;
}
.menu-mobile.show{
  left: 0;
}
/*End Header Style*/
/*Menu-Mobile-Bottom Style*/
@media (min-width: 992px){
  .menu-mobile-bottom{
    display: none;
  }
}
/*Services-Section Style*/
@media (max-width: 1100px){
    .services-section .container .all-services{
    width: 100%;
    flex-wrap: wrap;
  }
  .services-section .container .all-services .col-service{
    width: 48%;
  }
}
@media (max-width: 768px){
  .services-section .container .all-services .col-service{
    width: 100%;
  }
}
.whyus-section .container .whyus-content .col,
.services-section .container .all-services .col-service,
.overview-clients .container .all-clients-overview .col-client,
.our-values .container .our-values-content .col-our-value{
  transition: transform 0.5s ease;
}
.services-section .container .all-services .col-service:hover,
.whyus-section .container .whyus-content .col:hover,
.overview-clients .container .all-clients-overview .col-client:hover,
.our-values .container .our-values-content .col-our-value:hover{
  transform: translateY(-15px);
}
@media (max-width: 768px){
  .services-section .container .all-services .col-service:hover,
  .whyus-section .container .whyus-content .col:hover,
  .overview-clients .container .all-clients-overview .col-client:hover,
  .our-values .container .our-values-content .col-our-value:hover{
    transform: translateY(-8px);
  }
}
/*Overview-clients-Style*/
@media (max-width: 992px){
  .overview-clients .container .all-clients-overview{
    flex-wrap: wrap;
    justify-content: center;
  }
  .overview-clients .container .all-clients-overview .col-client{
    width: 48%;
  }
}
@media (max-width: 768px){
  .overview-clients .container .all-clients-overview .col-client{
    width: 100%;
  }
}
/*Questions-Style*/
.questions-commons .container .all-common-questions .answer-question{
  display: none;
  transition: display 0.5s ease;
}
.questions-commons .container .all-common-questions .answer-question.active{
  display: block;
}
/*Our-Values Style*/
@media (max-width: 992px){
  .our-values .container .our-values-content{
    flex-wrap: wrap;
  }
}
/*Our-Teams Style*/
@media (max-width: 992px){
  .our-teams .container .all-our-teams{
    flex-wrap: wrap;
    justify-content: center;
  }
}